<% include ../partials/header%>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to HJ Store</h1>
            <p>View our hand-picked collection of books from various sources</p>
        </div>
    </header>
    <div class="row text-center">
        <%bestSellings.forEach(function(bestSelling){%>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <div class="space">
                    <div class="card bg-light">
                        <img src="<%=bestSelling.image%>" class="card-img-top-xs" alt="<%=bestSelling.title%>">
                        <div class="card-body">
                                <h6 class="card-title font-weight-bold"><%=bestSelling.title%></h6>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <p>
                                        <strong>Author: </strong><em><%=bestSelling.author%></em>
                                        <br>
                                        <strong style="color:black;">Price: </strong><%=bestSelling.price%>
                                    </p>
                                    <div>
                                        <span class="badge label-primary"><i class="fas fa-thumbs-up"></i> <%= bestSelling.likes.length %></span>
                                    </div>
                                <li class="list-group-item">
                                    <a style="float: left" href="/bestselling/<%=bestSelling._id%>" class="btn btn-xs btn-primary">More</a>
                                    <!-- Add to cart functionality and then redirect to the cart page -->
                                    <a style="float:right" href="#" class="btn btn-xs btn-success"> Add to Cart</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%});%>
    </div>
</div>

<% include ../partials/footer%>