<% include ../partials/header%>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to HG Store</h1>
            <p>View our hand-picked collection of books from various sources</p>
        </div>
    </header>
    <div class="book-show">
        <div class="row">
            <div class="col-md-12">
                <h5 class="card-title"><%=bestSelling.title%></h5>
                <hr>
            </div>

            <div class="col-lg-4">
                <div class="thumbnail">
                    <div class="space book-image">
                        <div class="card bg-dark">
                            <img src="<%=bestSelling.image%>" alt="<%=bestSelling.title%>">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="thumbnail">
                    <div class="space">
                        <div class="card-bg-light">
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <p>
                                            <%=bestSelling.description%>
                                        </p>
                                    </li>
                                    <li class="list-group-item">
                                        <p>
                                            <strong>Author: </strong><em><%=bestSelling.author%></em>
                                            <br>
                                            <strong>Publisher: </strong><em><%=bestSelling.publisher%></em>
                                            <br>
                                            <strong style="color:black;">Price: </strong><%=bestSelling.price%>
                                        </p>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="/bestselling/add-to-cart/<%=bestSelling._id%>" class="btn btn-xs btn-primary"> Add to Cart</a>
                                        <a style="float: right" href="#" class="btn btn-xs btn-success">Buy</a>
                                    </li>
                                    <li class="list-group-item">
                                        <% if(currentUser&&currentUser.isAdmin=="admin"){%>
                                        <a class="btn btn-xs btn-warning"
                                            href="/bestselling/<%=bestSelling._id%>/edit">Edit</a>
                                        <form id="delete-form" action="/bestselling/<%= bestSelling._id%>?_method=delete"
                                            method="POST">
                                            <button class="btn btn-xs btn-danger">Delete</button>
                                        </form>
                                        <%}%> 
                                    </li>
                                    <div class="pull-right">
                                        <button type="button" class="btn btn-xs btn-primary" data-toggle="modal"
                                                data-target="#bestSellingLikes">
                                            <span>Total likes: <i class="fas fa-thumbs-up"></i> <%= bestSelling.likes.length %></span>
                                        </button>
                                    </div>
                                    <div style="padding-bottom: 10px;">
                                        <form action="/bestselling/<%= bestSelling._id %>/like" method="POST">
                                            <div class="btn-group">
                                                <% if (currentUser && bestSelling.likes.some(function (like) {
                                                    return like.equals(currentUser._id)
                                                })) { %>
                                                <button class="btn btn-sm btn-primary">
                                                    <i class="fas fa-thumbs-up"></i> Liked (<%= bestSelling.likes.length %>)
                                                </button>
                                                <% } else { %>
                                                <button class="btn btn-sm btn-secondary">
                                                    <i class="fas fa-thumbs-up"></i> Like (<%= bestSelling.likes.length %>)
                                                </button>
                                                <% } %>
                                                <button type="button" class="btn btn-sm btn-default" data-toggle="modal"
                                                        data-target="#bestSellingLikes">See more details
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="comment">
        <div class="card card-body bg-light">
            <div class="text-right">
                <a class="btn btn-success" href="/bestselling/<%= bestSelling._id%>/comments/new">Add New Comment</a>
            </div>
            <hr>
            <% bestSelling.comments.forEach(function(comment){%>
            <div class="row">
                <div class="col-md-12">
                    <strong><a href="/users/<%=comment.user.id%>"><%=comment.user.username%></a></strong>
                    <span class="float-right">10 Days ago</span>
                    <p>
                        <%= comment.text%>
                    </p>
                    <%if(currentUser && comment.user.id.equals(currentUser._id)||currentUser&&currentUser.isAdmin==="admin"){%>
                    <a class="btn btn-xs btn-warning"
                        href="/bestselling/<%=bestSelling._id%>/comments/<%=comment._id%>/edit">Edit</a>
                    <form id="delete-form"
                        action="/bestselling/<%=bestSelling._id%>/comments/<%=comment._id%>?_method=DELETE"
                        method="POST">
                        <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                    </form>
                    <%}%>
                </div>
            </div>
            <%})%>
        </div>
    </div>
</div>

<!-- BestSelling Likes Modal -->
<div id="bestSellingLikes" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">BestSelling likes: <%= bestSelling.likes.length %></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>           
            </div>
            <div class="modal-body">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Liked by:</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% bestSelling.likes.forEach(function(like) { %>
                        <tr>
                            <td><span class="badge"><i class="fas fa-user"></i></span> <%= like.username %></td>
                        </tr>
                    <% }); %>
                    <% if (bestSelling.likes.length === 0) { %>
                        <tr>
                            <td><em>No likes yet.</em></td>
                        </tr>
                    <% } %>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer%>