<!DOCTYPE html>
<html lang="en">

<head>
    <!-- <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
    <script>
        var OneSignal = window.OneSignal || [];
        OneSignal.push(function () {
            OneSignal.init({
                appId: "82a883b2-5c5d-417d-9e3a-e707adfe3598",
            });
        });
    </script>
     -->
     <!-- ONE SIGNAL NOTIFICATIONS -->
    <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
    <script>
      var OneSignal = window.OneSignal || [];
      OneSignal.push(function() {
        OneSignal.init({
          appId: "4ae9bec8-82bb-4af8-9446-159600a11c7a",
        });
      });
    </script>

    <!-- VIEWPORT -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- INCLUDING CSS FILES -->
    <link rel="stylesheet" href="/stylesheets/landing.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/contact-page.css">
    <link rel="stylesheet" href="/stylesheets/about-page.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/account.css">
    <link rel="stylesheet" href="/stylesheets/terms-page.css">
    <link rel="stylesheet" href="/stylesheets/show-page.css">
    <link rel="stylesheet" href="/stylesheets/user-profile.css">
    <link rel="stylesheet" href="/stylesheets/cart.css">
    <link rel="stylesheet" href="/stylesheets/checkout.css">
    <link rel="stylesheet" href="/stylesheets/my-orders.css">
    <link rel="stylesheet" href="/stylesheets/forgot-pass.css">

    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"
        async></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>E-Book Store</title>

    <!-- Global site tag (gtag.js) - GOOGLE ANALYTICS -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-151222018-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-151222018-2');
    </script>

</head>

<body onload="myFunction()">

    <!-- PRELOADER -->
    <div id="loading"></div>

    <!-- SCROLL TO TOP -->
    <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fas fa-angle-up"></i></button>

    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-survival101">
        <div class="container">
            <a class="navbar-brand" href="/">HG STORE</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
                aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav ml-auto">
                    <%if(currentUser&& currentUser.isAdmin==="admin"){%>
                    <li class="nav-item">
                        <a class="btn btn-primary btn-large" href="/books/new">Add new Book</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-danger btn-large" href="/bestselling/new">Add new BS</a>
                    </li>
                    <%}%>
                                        
                    <%if(!currentUser){%>
                    <li class="nav-item">
                        <a class="nav-link" href="/shopping-cart">
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i> Cart
                            <span class="badge" id="cart-qty"><% if (session.cart) { %><%= session.cart.totalQty %><% } %></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">My Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact us</a>
                    </li>
                    <%}else{%>
                    <li class="nav-item">
                        <a class="nav-link" href="/users/<%=currentUser.id%>">Signed in as <%=currentUser.username%></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/shopping-cart">
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i> Cart
                            <span class="badge" id="cart-qty"><% if (session.cart) { %><%= session.cart.totalQty %><% } %></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-user" aria-hidden="true"></i> User Management <span
                                class="dropdown-toggle"></span></a>
                        <ul class="nav-dropdown">
                            <li>
                                <a href="/users/<%=currentUser.id%>"><i class="fa fa-user" aria-hidden="true"></i> User
                                    Account</a>
                            </li>
                            <li>
                                <a href="/users/<%=currentUser.id%>/myorders"><i class="fas fa-list-ul"></i> My Orders</a>
                            </li>
                            <li>
                                <a href="/logout"><i class="fas fa-sign-out-alt"></i> Log Out</a>
                            </li>
                            <li>
                                <a href="/contact"><i class="fas fa-phone-volume"></i> Contact us</a>
                            </li>
                        </ul>
                    </li>
                    <%}%>    
                                </ul>
                                <form class="form-inline" method="GET" action="/books">
                                    <div class="input-group search-box">
                                          <input class="form-control mr-sm-2" type="text" name="search" placeholder="Search books here...">
                                          <button class="btn btn-success" type="submit">Search</button>
                                      </span>
                                    </div>
                                  </form>
                              </div>
                            </div>
                              
                          </nav>
              
    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-end">

        <div class="navbar-header">
            <a class="navbar-brand" href="/">HG STORE</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="nav navbar-nav ml-auto mt-2 mt-lg-0 ">
                <%if(currentUser&& currentUser.isAdmin==="admin"){%>
                <li class="nav-item">
                    <a class="btn btn-primary btn-large" href="/books/new">Add new Book</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-danger btn-large" href="/bestselling/new">Add new BS</a>
                </li>
                <%}%>
                   
                <li class="nav-item">
                    <form class="form-inline" method="GET" action="/books">
                        <div class="form-group">
                            <input class="form-control mr-sm-2" type="text" name="search" placeholder="Search books here...">
                            <button class="btn btn-success" type="submit">Search</button>
                        </div>
                    </form>
                </li>
                <%if(!currentUser){%>
                <li class="nav-item">
                    <a class="nav-link" href="/shopping-cart">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i> Cart
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">My Account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact us</a>
                </li>
                <%}else{%>
                <li class="nav-item">
                    <a class="nav-link" href="/users/<%=currentUser.id%>">Signed in as <%=currentUser.username%></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/shopping-cart">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i> Cart
                    </a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                        aria-expanded="false"><i class="fa fa-user" aria-hidden="true"></i> User Management <span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="nav-link" href="/users/<%=currentUser.id%>"><i class="fa fa-user" aria-hidden="true"></i> User
                                Account</a>
                        </li>
                        <li>
                            <a class="nav-link" href="/users/<%=currentUser.id%>/myorders"><i class="fas fa-list-ul"></i> My Orders</a>
                        </li>
                        <li>
                            <a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt"></i> Log Out</a>
                        </li>
                        <li>
                            <a class="nav-link" href="/contact"><i class="fas fa-phone-volume"></i> Contact us</a>
                        </li>
                    </ul>
                </li>
                <%}%>       
                </ul>
            </div>
    </nav> -->

    <!-- FLASH MESSAGES -->
    <div class="container">
        <%if(error && error.length>0){%>
            <div class="alert alert-danger errorMsg" role="alert"> 
                <%=error%>
            </div>
        <%}%>
        <%if(success && success.length>0){%>
            <div class="alert alert-success successMsg" role="alert">
                <%=success%>
            </div>
        <%}%>
    </div>
    <div id="timer-count-down">Cart expires in: <span id="timer"></span></div>
    <script type="text/javascript" src="../../public/javascripts/header.js"></script>
